@model IEnumerable<string>
           
<div class="row-fluid">
    <h1>Schemas</h1>
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item, "Schema", new {id = item})</li>
        }
    </ul>
</div>